@import "tailwindcss";

@theme inline {
  --font-sans: var(--font-inter);
  
  /* Brand colors */
  --color-brand-red: #E60000;
  --color-brand-red-dark: #B30000;
}

body {
  font-family: var(--font-sans), sans-serif;
}
